body {
    margin: 0;
    width: 100vw;
    background-image: url(../imagenes/seamless-floral-pattern-with-hibiscus-and-leaves-in-doodle-technique-vector.jpg);
    
}

h1{
    margin-top: 30px;
    margin-left: 50px;
    font-size: 100px;
    font-family: "Bebas Neue", sans-serif;
    color: goldenrod;
}
ul{
    padding: 20px;
    margin-left: 20px;
    font-size: 20px;
    font-family: "Lato", system-ui;
    color: #e3e4e5;
    font-size: 20px;
}
h2{
    margin-top: 20px;
    margin-bottom: 0px;
    margin-left: 20px;
    font-size: 60px;
    font-weight: 400;
    font-family: "Bebas Neue", sans-serif;
    color: goldenrod;
}
p{
    padding: 20px;
    font-size: 20px;
    font-family: "Lato", system-ui;
    color: #e3e4e5;
    font-size: 25px;
}
section{
    width: 1400px;
    height: 3250px;
    
}
.top{
    display: flex;
    align-items: center;
    width: 1300px;
    height: 320px;
    margin-top: 20px;
    margin-left: 17px;
    background-color: rgba(50, 50, 50, 0.696);
}
.top a img{
    width: 300px;
    border-radius: 50%;
    margin-left: 250px;
    margin-top: 0;

}
.bot{
    width: 1366px;
    height: 550px;
    margin-top: 20px;
    margin-left: 17px;
    background-color: rgba(50, 50, 50, 0.696);
    float: left;
}
.sidebysidea{
    margin-top: 20px;
    margin-left: 33px;
    margin-right: 77px;
    width: 550px;
    height: 1700px;
    float: left;
    background-color: rgba(50, 50, 50, 0.696);
}.sidebysideb{
    margin-top: 20px;
    width: 700px;
    height: 1200px;
    float: left;
    background-color: rgba(50, 50, 50, 0.696);
}

.textoa{
    width: 500px;
    height: 1500px;
    margin-left: 25px;
    margin-top: 40px;
    background-color: rgba(115, 119, 119, 0.686);
}
.textoa ul p{
    margin: 0;
    padding: 10px;
    font-size: 20px;
}
.textob{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 400px;
    height: 550px;
    margin-left: 50px;
    margin-top: 40px;
    background-color: rgba(115, 119, 119, 0.686);
}
.textoc{
    width: 1300px;
    height: 400px;
    margin-left: 33px;
    background-color: rgba(115, 119, 119, 0.686);
}
img{
    width: 400px;
    margin-top: 40px;
    margin-left: 140px;
}